@model TermekViewModel
@{
    ViewData["Title"] = "Termékek oldal";
}
<h1 style="text-align:center;">Termékek</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Név</th>
            <th>KategóriaId</th>
            <th>Leírás</th>
            <th>Ár</th>
            <th>Elérhető</th>
            <th>Fénykép útvonal</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.TermekList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nev</td>
                <td>
                    @{
                     var kategoriaNev = Model.KategoriaList
                    .Where(kategoria => kategoria.Id == item.KategoriaId)
                    .Select(kategoria => kategoria.Nev)
                    .FirstOrDefault();
                    }
                    @kategoriaNev
                </td>
                <td>@item.Leiras</td>
                <td>@item.Ar</td>
                <td>@item.Elerheto</td>
                <td>@item.FenykepUtvonal</td>
            </tr>
        }
    </tbody>
</table>
